#content {
	width: 70%;
	margin-left: 15%;
}

#content p, #content pre {
	font-family: "PT Sans";
	font-size: 3.5em;
	color: #E0E0E0;

	/*white-space: pre-wrap;       /* css-3 */
 	/*white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */*/
	/*white-space: -pre-wrap;      /* Opera 4-6 */*/
	/*white-space: -o-pre-wrap;    /* Opera 7 */*/*/
	/*word-wrap: break-word;       /* Internet Explorer 5.5+ */*/

}

#content pre {
	white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#content .contentSection {
	padding: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.textBox span{
	font-weight: bold;
}

.textBox a{
	color: #FFC747;
}

#About {
	background-color: #316bb2;
}

#FAQ {
	background-color: #FFC747;
}


#FAQ p, #FAQ h1, #FAQ h3 {
	color: #41454A;
}

#Register {
	background-color: #316bb2;
}

#Sponsors {
	background-color: #FFC747;
}

#Sponsors h1, #Sponsors p {
	color: #41454A;
}

#Contact {
	background-color: #316bb2;
	margin-bottom: 90px !important;
}

h1 {
	font-size: 7em;
	font-weight: bold;
	margin-bottom: 10px;
	color: #E0E0E0;
}

#FAQ .textBox div {
	width: calc(50% - 60px);
	margin-right: 40px;
	display: inline-block;
	vertical-align: top;
}

#FAQ .textBox div h3 {
	font-size: 4em;
	font-weight: bold;
}
