#content {
	width: 70%;
	margin-left: 15%;
}

#content p, #content pre {
	font-family: "PT Sans";
	font-size: 3.5em;
}

#content .contentSection {
	padding: 40px;
	margin-top: 40px;
	margin-bottom: 40px;

	box-shadow: 8px 8px 6px #707070;
}

.textBox span{
	font-weight: bold;
}

.blue .textBox a{
	color: #FFC747;
}

.yellow .textBox a {
	color: #316bb2;
}

.blue {
	background-color: #316bb2;
	color: #E0E0E0;
}

.yellow {
	background-color: #FFC747;
	color: #41454A;
}

#Contact {
	margin-bottom: 120px !important;
}

h1 {
	font-size: 7em;
	font-weight: bold;
	margin-bottom: 10px;
}

#FAQ .textBox div {
	width: calc(50% - 60px);
	margin-right: 40px;
	display: inline-block;
	vertical-align: top;
}

#FAQ .textBox div h3 {
	font-size: 4em;
	font-weight: bold;
}
