@media (min-width: 1361px) {
	#title p{
		font-size: 28em;
	}
}

@media (max-width: 1360px) and (min-width: 1061px){
	#title p{
		font-size: 20em;
	}
}



@media (max-width: 1060px) and (min-width: 701px) {
	#title p{
		font-size: 10em;
	}

	#basicInfo {
		font-size: 80%;
	}

	#content {
		font-size: 80%;
	}

	#titleDiv {
		width: calc(60% - 5px) !important;
	}

	#basicInfo {
		width: calc(40% - 5px) !important;
	}

	/* drop content, title, and basicInfo font sizes, but NOT menu */
	/* also give basicInfo more space
	next step is reorganize banner layout*/
}

@media (max-width: 700px){
	/*drop margins, reorganize the hero*/


	#title p {
		font-size: 10em;
	}

	#titleContainer {
		top: 10% !important;
		left: 5% !important;
		width: 90% !important;
		height: 80% !important;
	}

	/* TITLE COMPONENT */
	#titleDiv {
		width: 100% !important;
		height: calc(40% - 5px) !important;
		float: none !important;
	}

	#title {
		bottom: 30px !important;
		right: 50% !important;
		transform: translateX(50%) !important;
	}


	/* DIVIDING LINE */
	#divider {
		height: 10px !important;
		width: 100% !important;
	}

	/* INFO COMPONENT */
	#basicInfo {
		height: calc(60% - 5px) !important;
		width: 100% !important;
		font-size: 75%;
	}

	#basicInfo div {
		margin-top: 30px !important;
		margin-left: 0 !important;
		top: 0 !important;
		width: auto !important;
		display: inline-block;
		height: calc (100% - 30px) !important;
		position: relative !important;
		left: 50% !important;
		transform: translateX(-50%) !important;
	}

	#content {
		width: 90% !important;
		margin-left: 5% !important;
		font-size: 70% !important;
	}
}

@media (max-width: 581px){
		/*reorganize faq and make title text smaller, and make basicInfo text smaller*/
	#title p {
		font-size: 5em !important;
	}

	#divider {
		height: 5px !important;
	}

	#basicInfo {
		font-size: 70%;
	}

	#FAQ .textBox div {
		width: calc(100%) !important;
		margin-right: 0px !important;
	}
}

@media (min-aspect-ratio: 1080/645){
	#hero img {
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 1079/645){
	#hero img {
		width: auto;
		height: 130%;
	}
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: "PT Sans";
}

html {
	background-color: #E8E4D8;
}

/* HERO IMAGE */
#hero {
	height: calc(100% - 50px);
	width: inherit;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;

}

#hero img {
	overflow-x: hidden;
	overflow-y: hidden;
}

/* TITLE AND EXPLANATION BOX */
#titleContainer {
	overflow: visible;
	position: absolute;
	top: 25%;
	left: 10%;
	width: 80%;
	height: 50%;
}

/* TITLE COMPONENT */
#titleDiv {
	width: calc(70% - 5px);
	height: 100%;
	position: relative;
	float: left;
}

#title {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

#title .first {
	color: #479AFF;
	position: relative;
}

#title p {
	color: #FFC747;
	font-weight: bold;
	display: inline;
	margin: 0px;
	float: left;
}

/* DIVIDING LINE */
#divider {
	width: 10px;
	height: 100%;
	position: relative;
	background-color: #E0E0E0;
	float: left;
}

/* INFO COMPONENT */
#basicInfo {
	float: left;
	width: calc(30% - 5px);
	height: 100%;
}

#basicInfo div {
	margin-left: 30px;
	width: calc(100% - 30px);
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#basicInfo div p {
	margin: 0px;
	font-size: 3.5em;
	color: #E0E0E0
}

#basicInfo a{
	color:#B5D8FF
}
