html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: "PT Sans";
	background-color: #E8E4D8;
}

/* HERO IMAGE */
#hero {
	height: calc(100% - 50px);
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;

	text-align: center;

}

#hero img {
	position: absolute;
	display: block;
}

/* TITLE AND EXPLANATION BOX */
#titleContainer {
	position: relative;
	white-space: nowrap;
	display: inline-block;
	top: 25%;
	max-width: 95%;
	height: 50%;
}

/* TITLE COMPONENT */
#titleDiv {
	height: 100%;
	position: relative;
	padding-right: 30px;
	display: inline-block;
	vertical-align: top;
}

#title {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	white-space: nowrap;
}

#title .first {
	color: #479AFF;
	position: relative;
	left: 2px;
}

#title p {
	color: #FFC747;
	font-weight: bold;
	display: inline-block;
	margin: 0px;
	text-shadow: 2px 2px #E0E0E0;
}

/* DIVIDING LINE */
#divider {
	width: 10px;
	height: 100%;
	position: relative;
	background-color: #E0E0E0;
	display: inline-block;
	vertical-align: top;
}


/*relatively positioned things continue to affect flow even if they are inside an absolutely positioned object!*/

/* INFO COMPONENT */
#basicInfo {
	display: inline-block;
	height: 100%;
	padding-left: 30px;
}

#basicInfo div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);

	white-space: normal;
	text-align: left;

	/*YOU CAN ASSIGN A WIDTH HERE (~35% is okay) TO MAKE IT

	another solution is to have the title be locked to the left, and have this div take the remaining space*/
}

#basicInfo div p {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;

	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	font-size: 3.5em;
	color: #E0E0E0;
	white-space: normal;
}

#basicInfo a{
	color:#B5D8FF
}
