#menu {
	width: 100%;
	height: 50px;
	background-color: #479AFF;
	position: relative;
}

#menu ul{
	margin: 0;
	padding: 0;
	/*height: 100%;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/*margin-left: 30%;*/
	width: 100%;
}

#menu li{
	display: inline-block;
	font-size: 3.5em;
	font-weight: bold;
	color: #E0E0E0;

	/*vertical-align: middle;*/
	/*line-height: 100%;*/
	/*height: 100%;*/
	/*border: 2px solid red;
	box-sizing: border-box;*/
	text-align: center;
	width: 17.5%;
	/*font-family: "PT Sans";*/
}

#menu li:hover {
	color: white;
	cursor: pointer;
}

#menu .first {
	margin-left: 15%;
}
